mempool.{$SUBDOMAIN} {
    reverse_proxy http://mempool_web:8888
}

storage.{$SUBDOMAIN} {
    reverse_proxy http://vss:8080
}

rgs.{$SUBDOMAIN} {
    reverse_proxy http://rgs_files:80
}

esplora.{$SUBDOMAIN} {
    reverse_proxy http://electrs:3003
}

thunderhub.{$SUBDOMAIN} {
    reverse_proxy http://thunderhub:3000
}

lp1.{$SUBDOMAIN}  {
        tls /lnd/tls.cert /lnd/tls.key
        reverse_proxy https://lnd:8081 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
}

lp2.{$SUBDOMAIN}  {
    tls /lnd2/tls.cert /lnd2/tls.key
    reverse_proxy https://lnd2:8082 {
            transport http {
                    tls_insecure_skip_verify
            }
    }
}

lp3.{$SUBDOMAIN}  {
    tls /lnd3/tls.cert /lnd3/tls.key
    reverse_proxy https://lnd3:8083 {
            transport http {
                    tls_insecure_skip_verify
            }
    }
}